
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="maqChart" id="maqChart"></div>
            </div>
        </div>

        <!-- JSON Grid -->
        <div class="row">
            <div class="col-md-12">
                <div id="jsonGridTitle" class="jsonGridTitle">
                    Sales Details
                    <hr>
                </div>

                <div id="jsonGrid" class="grid">
                </div>
            </div>
        </div>


    </div>
